<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="left-logo">
      <!-- Left Logo Here -->
      <img src="assets/fstt-L.png" alt="Left Logo">
    </div>
    <div class="middle-logo">
      <!-- Middle Logo Here -->
      <img src="assets/iasd-L.png" alt="Middle Logo">
    </div>
    <div class="navigation">
      <!-- Navigation Menu Here -->
      <button mat-button routerLink="/" routerLinkActive="active" >Home</button>
      <button mat-button routerLink="/about" routerLinkActive="active" >About</button>
      <button mat-button>Contact</button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
