<div class="chat-container">
  <div class="chat-window">
    <div class="message" *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
    </div>
  </div>
  <div class="chat-input-container">
    <div class="chat-input">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ta question..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>


  
  
  
  
